body {
    margin: 0;
    padding: 0;
    height: 100vh;
   
}
.video-background {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    z-index: -1; /* Ensures it stays behind other content */
    filter: blur(5px); /* Adjust the blur intensity */
}

.video-background video {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Ensures it covers the entire area */
    opacity: 1; /* Keep full opacity for the video */
}
#links{
    text-align: center;
    margin-top: 2em;
}
#a1,#a2,#a3,#a4{
    margin-right: 1em;
    text-decoration: none;
    font-size: 1.2em;
    color: rgb(207, 207, 207);
    font-weight: bolder;
    
}
#heading{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
    margin-top: 2em;
    color: white;
}
#subheading{
    text-align: center;
    padding: 1em;
    color: white;
}
#about{
    background-color: rgb(219, 247, 215);
    
}
#h4{
    margin-bottom: 5em;
    font-size: 1em;
}
#h2{
    font-size: 1.5em;
}
/*-----------------------------------------------------About section------------------------------------------------------------------------*/
#container3{
    padding: 2em;
}
#h5{
    text-align: center;
}
#h6{
    margin-left:6.5em ;
}
#contentpara1{
    width: 20em;
    text-align: justify;
    padding: 1em;
    margin-left: 7em;
}
#shreeya{
    float: right;
    margin-top: 4em;
    height:300px;
    width: 300px;
    border: 3px solid black;
    margin-right: 12em;
}
#btngt{
    margin-left: 7.5em;
    background-color: rgb(38, 74, 2);
    color:rgb(219, 247, 215) ;
    width: 5em;
    padding: 0.5em;
    border-radius: 1em;
}
#btngt:hover{
         background-color:rgb(219, 247, 215) ;
         color: rgb(38, 74, 2);
         border: 1px solid rgb(38, 74, 2);
         transition: 0.5s ease-in-out;
}
/*--------------------------------------------------------services section--------------------------------------------------------------*/
#services{
   background-color:rgb(38, 74, 2) ;
    padding: 2em;
}

#consultation1{
    width: 110px;
    height: 110px;
}
#img1{
    text-align: center;
}
#cnt2{
    text-align: justify;
    font-size: 0.8em;
}
#cns1{
    font-size: 0.9em;
}
#service1{
    width: 10em;
    background-color:rgb(219, 247, 215) ;
    color:rgb(38, 74, 2);
    padding: 1.5em;
    border-radius: 1em;
    text-align: center;
    margin-left: 15em;
}
#booknow{
    background-color: rgb(38, 74, 2);
    color:rgb(219, 247, 215) ;
    width: 5em;
    padding: 0.5em;
    border-radius: 1em;
    margin-left:4em ;
    font-size: 0.7em;
}
#consultation2{
    width: 110px;
    height: 110px;
}
#img2{
    text-align: center;
}
#cnt3{
    text-align: justify;
    font-size: 0.8em;
}
#cns2{
    font-size: 0.9em;
}
#service2{
    width: 10em;
    background-color:rgb(219, 247, 215) ;
    color:rgb(38, 74, 2);
    padding: 1.5em;
    border-radius: 1em;
    text-align: center;
    float: right;
    margin-top: -20.7em;
    margin-right: 15em;
}
#ser{
    text-align: center;
    color: rgb(219, 247, 215);
    
}
/*----------------------------------------------------------contact section----------------------------------------------------------------*/
#container5{
    background-color:rgb(219, 247, 215) ;
    padding: 2em;
}
#contact{
    text-align: center;
    font-size: 1.5em;
    font-weight: bold;
}
#footer{
    font-size: 0.9em;
}
input{
    width: 30em;
    height: 1.5em;
}

@media (max-width :600px){
        #links{
            margin-top: 0em;
            font-size: 0.8em;
            background-color: rgba(0, 0, 0, 0.402);
            padding: 1em;
        }
        #heading{
            font-size: 1em;
        }
        #contentpara1{
            width: 15em;
            text-align: justify;
            padding: 1em;
            font-size: 0.6em;
            margin-left: 0em;
        }
        #h6{
            font-size: 0.5em;
            margin-left: 1em;
        }
        #shreeya{
            float: right;
            margin-top: 3em;
            height:170px;
            width: 150px;
            border-radius: 20%;
            box-shadow: 0 0 5px;
            border: 1px solid black;
            margin-right: 0em;
        }
        #btngt{
            margin-left: 0.8em;
            background-color: rgb(38, 74, 2);
            color:rgb(219, 247, 215) ;
            width: 6em;
            padding: 0.5em;
            border-radius: 1em;
            font-size: 0.7em;
        }
        #consultation1{
            width: 70px;
            height: 70px;
        }
        #img1{
            text-align: center;
        }
        #cnt2{
            text-align: justify;
            font-size: 0.5em;
        }
        #cns1{
            font-size: 0.7em;
        }
        #service1{
            width: 6em;
            background-color:rgb(219, 247, 215) ;
            color:rgb(38, 74, 2);
            padding: 1.2em;
            border-radius: 1em;
            text-align: center;
            margin-left: 0.8em;
            
        }
        #consultation2{
            width: 70px;
            height: 70px;
        }
        #img2{
            text-align: center;
        }
        #cnt3{
            text-align: justify;
            font-size: 0.5em;
        }
        #cns2{
            font-size: 0.7em;
        }
        #service2{
            width: 6em;
            background-color:rgb(219, 247, 215) ;
            color:rgb(38, 74, 2);
            padding: 1.2em;
            border-radius: 1em;
            text-align: center;
            margin-right: 0.8em;
           margin-top: -17em;
        }
        #booknow{
            background-color: rgb(38, 74, 2);
            color:rgb(219, 247, 215) ;
            width: 5em;
            padding: 0.5em;
            border-radius: 1em;
            margin-left:1.4em ;
            font-size: 0.7em;
            text-align: center;
        }
        input{
            width: 15em;
            height: 1.em;
        }
}
